  .container {
    display: flex;
    justify-content: flex-end;
  }
  .img {
    position: relative;
    width: 100%;
    height: 100%;
  
  }

  .img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
  }

  .propuesta { 
    position: absolute;
    top: 600px;
    right: 200px;
    width: 1000px;
    height: 400px;
    padding: 50px;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 0px 0px 10px antiquewhite;
    opacity: 0.8;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .propuesta h1 {
    font-size: 110px;
    text-align: center;
  }

  .propuesta p {
    font-size: 20px;
    margin-top: 20px;
  }

  .boton {
      color: white;
      background-color: #06063f;
      width: 200px;
      height: 80px;
      padding: 15px;
      border-radius: 10px;
      margin-top: 60px;
  }

  .boton:hover{
    box-shadow: 0px 0px 10px #06063f;
  }
